<%- include layouts/header.ejs %>
<div class="content-wrapper">
    <div class="container-fluid">
   <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
      </ol>
<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> User Table</div>
          <div><a class="btn btn-success" href="/contact/add" style="float: right;
    margin-right: 10px;
    margin-top: -44px;">Add User</a></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                     <th style="width: 20%;">Action</th>
                
                </tr>
              </thead>
             
              <tbody>
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].email%></td>
                    <td><%=data[i].phone%></td>
                    <td>
                        <a class="a-inside btn btn-success edit" href="../contact/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside btn btn-danger delete" href="../contact/delete/<%=data[i].id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
        
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
