<%- include layouts/header.ejs %>

        

<div class="content-wrapper">
    <div class="container-fluid">
   <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add User</li>
      </ol>
<form method="post" action="/contact/edit/<%=data[0].id%>">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Full Name</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" value="<%=data[0].name%>" name="name" placeholder="Enter Full Name">
              </div>
              <div class="col-md-6">
               <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" name="email" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" value="<%=data[0].email%>" placeholder="Enter email">
          </div>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Phone No.</label>
                <input class="form-control" name="phone" id="exampleInputPassword1" type="text" value="<%=data[0].phone%>" placeholder="Mobile No">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Password</label>
                <input class="form-control" name="password" id="exampleConfirmPassword" value="<%=data[0].password%>" type="password" placeholder="password">
              </div>
            </div>
             
          <button type="submit" class="btn btn-primary btn-block">Update</button>
        </form>
        
         </div>
        </div>


      
        
<%- include layouts/footer.ejs %>
