<html>
  <body>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='hhttp://localhost:7172/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>     
  </body>
</html>